[project]
	description = Test repo that is likely uninteresting to most people.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/saginawj
[access "refs/for/refs/*"]
	read = group user/saginawj
	push = group user/saginawj
	label-Code-Review = -2..+2 group user/saginawj
	label-Verified = -1..+1 group user/saginawj
	rebase = group user/saginawj
	removeReviewer = group user/saginawj
	submit = group user/saginawj
[access "refs/heads/*"]
	read = group user/saginawj
	create = group user/saginawj
	push = +force group user/saginawj
	pushMerge = group user/saginawj
[access "refs/tags/*"]
	push = +force group user/saginawj
	pushTag = group user/saginawj
	pushSignedTag = group user/saginawj
